# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RacingGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\6\Documents\Work Folder\RacingGame\.idea\.idea.RacingGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
